body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}
.header, .footer {
    background-color: #a3d2ca;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}
.nav-menu {
    background-color: #ffecd2;
    overflow: hidden;
}
.nav-menu a {
    float: left;
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-menu a:hover {
    background-color: #e9f5db;
    color: black;
}
.main-content {
    margin: 15px;
    padding: 15px;
    background-color: #ffffff;
}
#lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #lightbox img {
    max-width: 20%;
    max-height: 20%;
    margin-bottom: 20px;
  }
  
* {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  .container {
    position: relative;
  }

  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 16.66%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .container1 {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 0px;
    right: 20px;
    left: 0px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.75; /* Optional: makes the background semi-transparent */
    transition: all 0.3s ease; /* Optional: adds a transition effect when hovering */
  }
  
  .container1:hover .text-block {
    opacity: 1; /* Optional: changes the opacity to full when hovered */
  }